.display{
    width:75%;
    margin:10px auto;
}

.empty{
    font-size: 60px;
    color:lightgray;
}

.info{
    width:95%;
    margin:0 auto;
    text-align: left;
    padding: 10px 0;
}

.name{
    width:12%;
}

.cost{
    text-align: left;
    font-size: 24px;
    padding:10px;

    display: flex;
    justify-content: space-between;
}

.cost > h4{
    margin: 5px 0px;
}

.resto{
    font-weight: 400;
}



@media screen and (max-width:768px){
    .display{
        width:85%;
    }
    
}


@media screen and (max-width:525px){
    .cost{
        flex-direction: column;
    }

    .display{
        width:95%;
    }

    .info{
        width:98%;
    }

    .name{
        width:10%;
    }    

    .resto{
        font-size: 20px;
        font-weight: 400;
    }

    .cost{
        font-size: 18px;
    }

    .cost > *{
        margin-bottom: 10px;
    }
}