.display{
    width:95%;
    margin:10px auto;
}

.card{
    display: flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin:20px 0px;
}

.card  h4,
.card  h2{
    font-weight: 400;
    margin:0;
}

@media screen and (max-width:768px){

    .info > h2{
        font-size: 18px;
    }

    .info > h3{
        font-size: 15px;
    }

}

@media screen and (max-width:600px){

    .display > h1{
        font-size: 22px;
    }

    .info > h2{
        font-size: 15px;
    }

    .info > h3{
        font-size: 12px;
    }

}
