.display{
    width:45%;
    margin:10px auto;
}

.icon{
    text-align: left;
}

.plus{
    cursor: pointer;
}

.container{
    width:90%;
    margin:0 auto;
    display: flex;
    justify-content: space-around;
}

.warning{
    color:red;
}

@media screen and (max-width:1024px){
    .display{
        width:50%;
    }
}

@media screen and (max-width:768px){
    .container{
        width:100%;
    }

    .display{
        width:69%;
    }
}

@media screen and (max-width:525px){
    .container{
        width:80%;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .display{
        width:90%;
    }
}