.icon{
    text-align: left;
}

.plus{
    cursor: pointer;
}

.container{
    width:90%;
    margin:0 auto;
    display: flex;
    justify-content: space-around;
}

.warning{
    color:red;
}


.display{
    width:45%;
    margin:20px auto;
}

@media screen and (max-width:768px){
    .container{
        width:100%;
    }
}

@media screen and (max-width:525px){
    .container{
        width:80%;
        flex-direction: column;
        margin-bottom: 20px;
    }
}