.display{
    width:45%;
    margin:20px auto;
}


@media screen and (max-width:768px){
    .display{
        width:60%;
    }
}


@media screen and (max-width:525px){
    .display{
        width:90%;
    }
}